In [18]:
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import cross_val_score

%matplotlib inline
plt.rcParams['figure.figsize'] = 12, 10

In [2]:
df = pd.read_pickle('train/train.dat')
# df_test = pd.read_pickle('test/test.dat')

In [23]:
df.head()

,data_id,period,c1,c2,c3,c4,c5,c6,c7,c8,...,c80,c81,c82,c83,c84,c85,c86,c87,c88,target
0,2,train1,0.655570,-0.000022,-0.000539,-0.001075,0.0,0.0,0.213390,0.0,...,-0.023358,-0.017041,0.0,0.060697,0.0,0.0,0.000000,-0.000202,-0.140220,1
1,3,train1,1.646430,-0.000292,-0.008367,0.009497,0.0,0.0,0.000000,0.0,...,-0.059429,-0.009109,0.0,0.021645,0.0,0.0,0.000000,-0.004382,0.455767,0
2,5,train1,-0.743010,0.004642,-0.000647,-0.003290,0.0,0.0,0.000000,0.0,...,0.001796,-0.000104,0.0,-0.024718,0.0,0.0,0.219566,0.072711,1.155580,0
3,7,train1,0.029770,-0.006343,-0.000635,-0.002516,0.0,0.0,0.160313,0.0,...,-0.005501,0.045308,0.0,-0.148852,0.0,0.0,0.000000,-0.101181,-0.954553,0
4,10,train1,-0.660243,0.012591,-0.002098,-0.022264,0.0,0.0,0.000000,0.0,...,0.029034,-0.005847,0.0,-0.007073,0.0,0.0,0.000000,-0.004842,0.436002,0

In [20]:
feature_cols = df.columns.drop(['data_id', 'period', 'target','c19', 'c17', 'c10'])

train_X = df[feature_cols]
train_Y = df['target']
# test_X = df_test[feature_cols]

lgb_train = lgb.Dataset(train_X, train_Y)

In [13]:
gbm = lgb.LGBMRegressor().fit(train_X, train_Y)

In [21]:
scores = cross_val_score(lgb.LGBMRegressor(), train_X, train_Y, cv=5, scoring='neg_mean_squared_error')

In [22]:
scores.mean()

-0.24944086589099984

In [ ]:
submit = df_test[['data_id']].copy()
submit['predict'] = gbm.predict(test_X)
submit.to_csv('submit.csv', header=None, index=None)